PORT=5001
NODE_ENV=development
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=30d
MONGO_URI=mongodb://localhost:27017/CTN_Dev
ALLOWED_ORIGINS=http://localhost:8080
GSTIN_CHECK_API_KEY=
MEMBER_DEFAULT_PIN=1234
SUPER_ADMIN_INITIAL_PIN=87654321

# ZEPTO_MAIL Configuration
ZEPTO_MAIL_HOST=smtp.zeptomail.in
ZEPTO_MAIL_PORT=587
ZEPTO_MAIL_USER=emailapikey
ZEPTO_MAIL_PASSWORD=your_zepto_mail_password
ZEPTO_MAIL_FROM_NAME="Trusted Network"
ZEPTO_MAIL_FROM_EMAIL=noreply@trustednetwork.in

# SMS Configuration
SMS_API_KEY=your_sms_api_key
SMS_SENDER_ID=NALSUV
SMS_WELCOME_TEMPLATE_ID=1707175991811413580
SMS_FORGOT_PIN_TEMPLATE_ID=1207161856298765432

# Razorpay Configuration
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# Referral System Configuration
REFERRAL_BASE_URL=https://trustednetwork.in/ref
REFERRAL_REFERRER_REWARD=50
REFERRAL_USER_REWARD=20
REFERRAL_REWARD_CONDITION=ON_REGISTRATION

# Deep Link Provider (default | depl)
DEEP_LINK_PROVIDER=default
DEPL_API_KEY=
DEPL_PROJECT_ID=

# Database Management
CONFIRM_DELETE_DATABASE=false
